<!doctype html>
<html>
   <head >
      <title>Login</title>
      <meta data-n-head="ssr" charset="utf-8">
      <link data-n-head="ssr" rel="icon" type="assets/Blog.ico" href="/favicon.ico">

      <!-- Bootstrap Link -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <!-- link for fontAwesome -->
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
      <!-- Google Fonts -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500;600;700&amp;display=swap">
      <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
      <!-- Style Sheet -->
      
      <link rel="stylesheet" href="styles/StylesSignUp.css">



   </head>
   <body>
      <div>
         <div>
            <div>
               <div class="mainwrp">
                  <div class="navbra">
                     <div class="brandlogo" style="margin-top: 1rem;">
                       <img src="assets/FreeLink.sv" alt="capstone2022" width="120px">
                     </div>
                  </div>
                  <div id="signup">
                      

                      <div class="news-card z-depth-1" itemscope="" itemtype="http://schema.org/NewsArticle">
                        <span content="" itemscope="" itemprop="mainEntityOfPage" itemtype="https://schema.org/WebPage" itemid="https://inshorts.com/en/news/supreme-court-delivers-split-verdict-in-karnataka-hijab-ban-case-1665639150867"></span>
                        <span itemtype="https://schema.org/Person" itemscope="itemscope" itemprop="author">
                          <span itemprop="name" content="Ridham Gambhir"></span>
                        </span>
                        <span itemprop="description" content="Supreme Court delivers split verdict in Karnataka hijab ban case"></span>
                        <span itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject">
                          <meta itemprop="url" content="https://static.inshorts.com/inshorts/images/v1/variants/jpg/m/2022/10_oct/13_thu/img_1665637029371_142.jpg?">
                          <meta itemprop="width" content="864">
                          <meta itemprop="height" content="483">
                        </span>
                        <span itemtype="https://schema.org/Organization" itemscope="itemscope" itemprop="publisher">
                          <span itemprop="url" content="https://inshorts.com/"></span>
                          <span itemprop="name" content="Inshorts"></span>
                          <span itemprop="logo" itemscope="" itemtype="https://schema.org/ImageObject">
                            <span itemprop="url" content="https://assets.inshorts.com/inshorts/images/v1/variants/jpg/m/2018/11_nov/21_wed/img_1542823931298_497.jpg"></span>
                            <meta itemprop="width" content="400">
                            <meta itemprop="height" content="60">
                          </span>
                        </span>
                        <div class="news-card-image" style="background-image: url('https://static.inshorts.com/inshorts/images/v1/variants/jpg/m/2022/10_oct/13_thu/img_1665637029371_142.jpg?')">
                        </div>
                        <div class="news-card-title news-right-box">
                          <a class="clickable" onclick="track_GA_Mixpanel({'hitType': 'event', 'category': 'TitleOfNews', 'action': 'clicked', 'label': 'Supreme%20Court%20delivers%20split%20verdict%20in%20Karnataka%20hijab%20ban%20case)' });" style="color:#44444d!important" href="/en/news/supreme-court-delivers-split-verdict-in-karnataka-hijab-ban-case-1665639150867">
                            <span itemprop="headline">Supreme Court delivers split verdict in Karnataka hijab ban case</span>
                          </a>
                          <div class="news-card-author-time news-card-author-time-in-title">
                            <a href="/prev/en/news/supreme-court-delivers-split-verdict-in-karnataka-hijab-ban-case-1665639150867"><span class="short">short</span></a> by <span class="author">Ridham Gambhir</span> / 
                            <span class="time" itemprop="datePublished" content="2022-10-13T05:32:30.000Z">11:02 am</span> on <span clas="date">13 Oct 2022,Thursday</span>
                          </div>
                        </div>
                        <div class="news-card-content news-right-box">
                          <div itemprop="articleBody">The Supreme Court gave a split verdict in the Karnataka hijab ban case as one of the judges said there was a "divergence in opinion". While Justice Hemant Gupta dismissed the petitions challenging the Karnataka High Court order and upheld the hijab ban in educational institutions in the state, Justice Sudhanshu Dhulia said, "Wearing hijab is a matter of choice". </div>
                          <div class="news-card-author-time news-card-author-time-in-content">
                            <a href="/prev/en/news/supreme-court-delivers-split-verdict-in-karnataka-hijab-ban-case-1665639150867"><span class="short">short</span></a> by <span class="author">Ridham Gambhir</span> / 
                            <span class="time" itemprop="dateModified" content="2022-10-13T05:32:30.000Z">11:02 am</span> on <span class="date">13 Oct</span>
                          </div>
                        </div>
                        
                      
                      </div>
                  </div>
                  
                  <div class="footer">
                     <span class="credits">Capstone Project 2022</span>
                  </div>
            </div>
         </div>
      </div>
   </body>
</html>
